@use "../../styles/variables" as *;
@use "sass:color";

.tailmap-report {
  padding: 20px;
  font-family: "Arial", sans-serif;

  &__title {
    color: #5b6162;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__controls {
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    max-width: 93%;
  }

  &__form-group {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.75rem;
    color: #5b6162;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__select {
    width: 100%;

    .react-select__control {
      border-radius: 4px;
      border-color: #ced4da;
      transition: border-color 0.2s;
      width: 100%;

      &:hover {
        border-color: #adb5bd;
      }
    }

    .react-select__menu {
      border-radius: 4px;
      margin-top: 4px;
      width: 100%;
    }
  }

  &__generate-btn {
    background-color: #5b6162;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    margin-top: 1rem;

    &:hover {
      background-color: color.adjust(#5b6162, $lightness: -10%);
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__tailmap-container {
    margin: 2rem auto;
    max-width: 90%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__subtitle {
    color: #5b6162;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    width: calc(800px - 120px);
  }

  &__reload-btn {
    background: #5b6162;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      background: color.adjust(#5b6162, $lightness: -10%);
    }
  }

  &__map-wrapper {
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    background: white;
    overflow: hidden;
    position: relative;

    margin: 0 auto;
  }

  &__map-container {
    position: relative;
    user-select: none;
    height: 600px;

    img {
      object-fit: contain;
    }

    canvas {
      touch-action: none;
    }
  }
}

.react-select__indicator-separator {
  background-color: #ced4da !important;
}

.react-select__dropdown-indicator {
  color: #5b6162 !important;
}
