@import "../styles/variables";

.asset-container {
  display: flex;
  align-items: center;

  &__header {
    width: 50%;
    color: $headerTitle;
  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}

.asset-page {
  width: 96%;
}
