body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
}

.layout {
  display: flex;
}

.layout__navigation {
  width: 10%;
}

.layout__content {
  width: 90%;
  position: relative;
  top: 13px;
}

/* .btn {
  width: 65%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: rgba(0, 149, 218, 1);
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  background: rgba(0, 149, 218, 1);
}

.btn-green {

}

.btn--red {

} */
