.home-page {
  padding: 2rem;
  min-height: 100vh;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__title {
    color: #5b6162;
    font-size: 1.5rem;
    margin: 0;
  }

  &__floormap-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
    margin-top: 1rem;
  }

  &__floormap-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Jača sjena za bolju vidljivost
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__floormap-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__floormap-name {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin: 1rem 0;
  }

  &__floormap-button {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem;
    background: linear-gradient(
      to bottom,
      rgb(0, 149, 218),
      rgb(0, 149, 218)
    ); // Nova boja gumba
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background: linear-gradient(
        to bottom,
        rgb(0, 129, 198),
        rgb(0, 129, 198)
      ); // Tamnija nijansa na hover
    }
  }

  &__no-floormaps {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
  }
}
